<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='Bootcamp.base'}"/>

<body>
   <!--list of existing comments-->
   
   
   
   
   
   <!--Adding new comments-->
   <form id="Form1" method="POST">
    <label for="comment-box">Comment:</label>
    <input type="text" id="comment-box" name="comment-box" placeholder="Enter comment">
    <br><br>
    <input id="post" type="submit" value="Post">
    <ul id="unordered">
       
   </ul>
   </form>




</body>

